input[type='range'] {
	margin: 0;
	padding: 0;
	width: 100%;
	-webkit-appearance: none;
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	height: 5px;
	border-radius: 10px;
	/*将轨道设为圆角的*/
	background-color: #eee;
	outline: none;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 15px;
	width: 15px;
	margin-top: -5px;
	background-color: #ccc;
	border: 3px solid #1ba1e2;
	border-radius: 50%;
	transition: transform 0.5s;
}

input[type='range'].active::-webkit-slider-thumb {
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	transition: transform 0.5s;
}

.range-container {
	position: absolute;
	margin: 0;
	padding: 0;
	transform-origin: left;
}

.range-container>.range-label {
	position: absolute;
	top: -25px;
	display: none;
	margin: 0;
	padding: 0;
	height: 20px;
	width: 20px;
	background: #eee;
	text-align: center;
	font-size: 12px;
	line-height: 20px;
}

.range-container>.range-label.active {
	display: block;
}

.range-container>.range-label::after {
	content: '';
	width: 0;
	border-top: 10px solid #ccc;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	position: absolute;
	left: 0;
	bottom: -10px;
}

.container {
	position: relative;
	margin: 100px auto;
	width: 700px;
	height: 500px;
	border: 1px solid #ccc;
}